*{
    margin: 0;
    border: 0;
}

#wrapper{
    width: 87em;
    margin: .5em auto;
}

header{
    width: 87em;
    margin: 0 auto;
    padding: .15em .15em;
    background-color: #ff6600;
}

h1{
    font-size: .8em;
}

.head-links{
    font-size: .8em;
}

p{
    font-size: .8em;
}

img{
    border: solid 1px white;
}

a, h1, img, p{
    display: inline-block;vertical-align: top;
    text-decoration: none;
    color: black;
    font-family: helvetica;
}

#login-div{
    float: right;
    display: inline-block;
}

#login-link{
    font-family: helvetica;
    font-size: .8em;
}

section{
    height: 17em;
    width: 87.30em;
    background-color: #f6f6ef;
}

